<!DOCTYPE html>
<html>
<body>

<h2>Course Registration</h2>

<table style="width:100%">
  <tr>
    <td>os</td>
    <td><form action="/coursereg" method="post">
  <button name="subject" type="submit" value="1">Enroll</button>
  <button name="subject" type="submit" value="2">UnEnroll</button>
</form></td> 
    
  </tr>
  <tr>
    <td>dsa</td>
    <td><form action="/coursereg" method="post">
  <button name="subject" type="submit" value="3">Enroll</button>
  <button name="subject" type="submit" value="4">UnEnroll</button>
</form></td> 
     
   
  </tr>
  <tr>
    <td>dcn</td>
    <td><form action="/coursereg" method="post">
  <button name="subject" type="submit" value="5">Enroll</button>
  <button name="subject" type="submit" value="6">UnEnroll</button>
</form></td> 
    
    
  </tr>
  
    <tr>
    <td>java</td>
    <td><form action="/coursereg" method="post">
  <button name="subject" type="submit" value="7">Enroll</button>
  <button name="subject" type="submit" value="8">UnEnroll</button>
</form></td> 
    
    
  </tr>
  
    <tr>
    <td>ss</td>
    <td><form action="/coursereg" method="post">
  <button name="subject" type="submit" value="9">Enroll</button>
  <button name="subject" type="submit" value="10">UnEnroll</button>
</form></td> 
    
  </tr>
</table>

</body>
</html>