<!DOCTYPE html>
<html>
<body>

<table style="width:100%">
  <tr>
    <td>Student Profile</td>
    <td><form action="/studprof" method="post">
  <button  type="submit">Click here</button>
</form></td> 
    
  </tr>
  <tr>
    <td>Course Regsitration</td>
    <td><form action="/coursereg" method="get">
  <button  type="submit">Click here</button>
</form></td> 
     
   
  </tr>
    
</table>

</body>
</html>